.container{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 100px auto;
}
.wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}
.wrist{
    position: absolute;
    width: 25px;
    height: 100px;
    left:0;
    bottom: 20px;
    /*border: 1px solid black;*/
    background: yellow;
}
.circle{
    position: absolute;
    left:40px;
    bottom: 20px;
    /*background: yellow;*/
    border-radius: 0 10px 10px 10px;
    width: 90px;
    height: 0;
    border-top: 100px solid yellow;
    border-right: 32px solid transparent;
}
/*.finger{*/
    /*position: absolute;*/
    /*width: 0;*/
    /*height: 0;*/
    /*left:130px;*/
    /*bottom: 20px;*/
    /*border-top: 100px solid yellow;;*/
    /*border-right: 30px solid transparent;*/
    /*border-radius: 0 20px 20px 10px;*/
    /*!*border: 1px solid black;*!*/
/*}*/
.one{
    position: absolute;
    width: 40px;
    height: 70px;
    left:40px;
    top:10px;
    /*border: 1px solid black;*/
    background: yellow;
    /*border-radius: 20px 40px 0 0;*/
    /*transform: skew(45deg, 0deg);*/
    border-top-left-radius: 20px;
    border-top-right-radius:60px;

}